body {
	padding-top: 50px;
}
.secondary-nav .login a {
	background: url('../images/lock.png') no-repeat left center;
	padding-left: 20px;
}
.footer {
	position: relative;
	border-top: 1px solid #eee;
	margin-top: 100px;
	padding-top: 10px;
	color: #ccc;
	text-align: center;
}
.right {
	float: right;
}
.header {
	border-bottom: 1px solid #ccc;
	padding: 0 8px 0 8px;
	margin-bottom: 0px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
}
.header h1 {
	margin-bottom: 0;
	font-size: 18px;
}
.projects {
	float: right;
	width: 275px;
	border: 1px solid #ddd;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.projects ul.unstyled {
	margin-bottom: 6px;
}
.projects .btn.new {
	margin-top: 6px;
	padding: 4px;
}
.projects .empty {
	margin: 25px 15px;
	color: #555;
	font-style: italic;
	text-align: center;
}
.project {
	height: 22px;
	padding: 8px 0 4px 10px;
	border-bottom: 1px dashed #ddd;
}
.project .label {
	margin-top: -3px;
}
.project a:hover {
	text-decoration: none;
}
.feed .empty {
	margin: 15px;
	padding: 15px;
	text-align: center;
	font-style: italic;
	color: #555;
	border: 1px solid #ccc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	background-color: #f3f3f3;
}
.feed .activity {
	padding: 5px;
	border-bottom: 1px solid #eee;
}
.feed .activity.full .headline {
	font-weight: bold;
	font-size: 110%;
	margin-bottom: 3px;
}
.feed .activity.full .body {
	padding: 5px 0 0 0;
}