body {
	padding-top: 50px;
}
.secondary-nav .login a {
	background: url('../images/lock.png') no-repeat left center;
	padding-left: 20px;
}
.footer {
	position: relative;
	border-top: 1px solid #eee;
	margin-top: 100px;
	padding-top: 10px;
	color: #ccc;
	text-align: center;
}
.right {
	float: right;
}
.btn.new {
	font-weight: bold;
}
.header {
	border-bottom: 1px solid #ccc;
	margin-bottom: 8px;
}
.header h1 {
	margin-bottom: 0;
	font-size: 18px;
	font-weight: bold;
}

.project {
	height: 22px;
	padding: 8px 0 4px 0;
	border-bottom: 1px dashed #ddd;
}
.project .label {
	margin-top: -3px;
}
.project a:hover {
	text-decoration: none;
}

.feed .activity {
	padding: 5px;
	border-bottom: 1px solid #eee;
}
.feed .activity.full .headline {
	font-weight: bold;
}
.feed .activity.full .body {
	padding: 5px 0 0 0;
}